<!-- HTML fragment for the main menu allowing the user to choose the game mode (Player or Admin) -->

<div class="center">
  <h1>Bienvenue dans le jeu LEHNA</h1>
  <p>Choisissez votre mode :</p>
  <div style="margin-top:20px;">
    <button onclick="button_click('main_menu', 'player',null)">Mode Joueur</button> <!-- Access to the player mode -->
    <button onclick="button_click('main_menu', 'admin','password')">Mode Admin</button> <!-- Access to the administrator mode -->
  </div>
  <div><strong>Game Status:</strong> <span id="lobby_status">Lobby closed</span></div> <!-- Displays the current lobby state -->
</div>