<h1>Partner Interface</h1>

<div class="hud">
  <div class="tile">
    <div id="status">--</div>
  </div>

  <div class="tile">
    <div id="mating">waiting</div>
  </div>
</div>



<div class="card">
  <strong>My ID</strong>
  <div id="id">null</div>
</div>

<div class="card">
  <strong>My Value</strong>
  <div id="value">null</div>
</div>

<div class="card">
  <strong>Current Partner</strong>
  <div id="partner">null</div>
</div>

<div>
  <strong>Partner ID:</strong> 
  <span id="partner_id">null</span>
</div>

<div>
  <strong>Candidate:</strong> 
  <span id="candidate">null</span>
</div>

<div>
  <strong>Candidate ID:</strong> 
  <span id="candidate_id">null</span>
</div>


<p>Paramètres de la partie :</p>

<div>
  <strong>Nombre de classes :</strong> 
  <span id="NbClass">null</span>
</div>

<div>
  <strong>Nombre de tours dans une saison :</strong> 
  <span id="nb_tours_saison">null</span>
</div>
<div>
  <strong>Temps max par tour :</strong> 
  <span id="TmaxTour">null</span>
</div>
<div>
  <strong>Sigma (pente sigmoïde) :</strong> 
  <span id="sigma">null</span>
</div>
<div>
  <strong>Pas de temps moyen avant mating :</strong>
  <span id="npt_moy_before_mating">null</span>
</div>
<div>
  <strong>Nombre de bots :</strong> 
  <span id="nb_bots">null</span>
</div>
<div>
  <strong>Last Chance Option :</strong> 
  <span id="last_chance">null</span>
</div>

<div style="margin-top:16px;">
  <button id="change" onclick="button_click('player','change_partner',null)" >Accept Candidate</button>
</div>
