<h1>Partner Interface</h1>

<div><strong>My ID:</strong> <span id="id">null</span></div>
<div><strong>My Value:</strong> <span id="value">null</span></div>
<div><strong>Current Partner:</strong> <span id="partner">null</span></div>
<div><strong>Partner ID:</strong> <span id="partner_id">null</span></div>
<div><strong>Candidate:</strong> <span id="candidate">null</span></div>
<div><strong>Candidate ID:</strong> <span id="candidate_id">null</span></div>
<div><strong>Courtship Timer:</strong> <span id="courtship_timer">null</span></div>
<div><strong>Mating:</strong> <span id="mating">waiting</span></div>
<div><strong>Status:</strong> <span id="status">null</span></div>
<p>Paramètres de la partie :</p>
<ul>
  <li id="ClassesNb">Nombre de classes : <span>null</span></li>
  <li id="duration">Durée de la saison : <span>null</span></li>
  <li id="SeasonNb">Nombres de saisons : <span>null</span></li>
  <li id="MaxTime">Temps maximal accordé au choix : <span>null</span></li>
  <li id="SigmoidProba">données de la fonction de probabilite de passer en mate  (loi sigmoide) : <span>null</span></li>
  <li id="LastOption">Passage en mate à la fin de la saison : <span>null</span></li>
</ul>



<div style="margin-top:16px;">
  <button onclick="button_click('player','change_partner',null)">Change</button>
</div>
