/* 
Classe appliquée dynamiquement par JavaScript (updateUI dans main.js) Utilisée pour masquer un élément lorsque l'administrateur choisit de ne pas transmettre la donnée au joueur 
*/

.hidden{
	display: none; /* Retire complètement l'élément de l'affichage */
}
