/*
Styles globaux et fondations visuelles du projet.
Ce fichier définit :
- les polices utilisées
- les styles de base (body, titres, boutons, inputs)
- les règles communes partagées par toutes les pages

Il ne décrit pas des composants spécifiques de l’interface, mais fournit une base visuelle cohérente utilisée par component.css et par l’ensemble des fragments HTML.
*/

/* Import des polices utilisées dans l'ensemble du projet. La police a été choisie en respectant la gamification et l'accessibilité. */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&family=Audiowide&display=swap');

body {
  font-family: "Oxanium", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.6;
  background: #f6f2e9;
}

/* Styles des titres */
h1, h2, h3 {
  font-family: "Audiowide", "Oxanium", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

button {
  font-family: "Oxanium", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;          
  padding: 14px 26px;
  min-height: 52px;
  border: 2px solid #222;
  background: #fff;
  cursor: pointer;
  transition: 0.15s;
}

/* Effet visuel d'enfoncement lors du clic sur un bouton */
button:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 #000;
}

/* Effet visuel au survol d'un bouton */
button:hover {
  background: #222;
  color: #fff;
}

/* Styles globaux des champs de saisie */
input, select {
  font-family: inherit; /* Hérite de la police du parent */
  padding: 8px;
  border: 2px solid #222;
  background: white;
}

/* Classe utilitaire pour un centrage simple du contenu */
.center {
  text-align: center;
  margin-top: 40px;
}
