/*import de la police*/
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&family=Audiowide&display=swap');

body {
  font-family: "Oxanium", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.6;
  background: #f6f2e9;
}


h1, h2, h3 {
  font-family: "Audiowide", "Oxanium", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

button {
  font-family: "Oxanium", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;          
  padding: 14px 26px;
  min-height: 52px;
  border: 2px solid #222;
  background: #fff;
  cursor: pointer;
  transition: 0.15s;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 #000;
}


button:hover {
  background: #222;
  color: #fff;
}

/* Inputs */
input, select {
  font-family: inherit;
  padding: 8px;
  border: 2px solid #222;
  background: white;
}

/* Centrage simple */
.center {
  text-align: center;
  margin-top: 40px;
}
